In [ ]:
# code mode 

# "esc"  edit mode
# 1) add/delte cells
#   "esc" + a: append a cell above the current cell.
#   "esc" + b: append a cell below the current cell
#   "esc" + d: delete a cell

# 2) excute some cells
# "ctrl"+return: excute the current cell
# "shift"+"return": exute the current one and move the the next
# "alt"+ "return "


# 3) markdown
# "esc"+m: convert the current cell from "code" to markdown

In [40]:
a = 1

In [41]:
b = 1

In [42]:
print(a+b)

2

# Python syntax

1. Introduce variables
2. Function 
3. Class (next session)

## String

In [53]:
a = "columbia"
b = 'university'

# add one string with another string
# print(a+ ' ' +b) # add space
# print(a+ '\n' + b)


# string index
#print(a[0])  # first element
#print(a[-1]) # last element
#print(a[-2]) 


# variable
age = "50"
gender = "Female"

print("Molly is a "+ age + " years old "+ gender)

Molly is a 50 years old Female

In [92]:
gender.upper()

'FEMALE'

In [93]:
gender.lower()

'female'

In [94]:
# .csv, comma-seperatedly variable

tmp = "a_b_c_d_e"
tmp.split("_")

['a', 'b', 'c', 'd', 'e']

## number

In [57]:
# int and float
a = 5
b = 5.
type(b)

float

In [59]:
# operation and priority
c = a+b
#type(c)
# a + - / * b
tmp = a**4 #
tmp = pow(2, 4)

In [62]:
tmp = (2*3)**2  # power > */ > +-
print(tmp)

36

In [95]:
import math

## string-number convert

In [63]:
# int to str
a = 1
str_a = str(a)
type(str_a)

str

In [64]:
# str to int

In [67]:
int_a = int(str_a)
float_a = float(str_a)
print(int_a)
print(float_a)

1
1.0

In [71]:
# more operation 
# 
print(abs(-1))
print(max(1,2,3,4))
print(min(1,2,3,4))
print(round(1.5))

1
4
1
2

In [96]:
math.floor(1.5)

1

In [72]:
print(round(1.5))

2

In [73]:
# bool
True

True

In [74]:
False

False

# container

In [79]:
# list: []

a_list = [1,2, "string_1", 'string_2', True, 5.1]
a_list[0] = 65

In [80]:
a_list

[65, 2, 'string_1', 'string_2', True, 5.1]

In [83]:
# tuple: ()
a_tuple = (1,2,5.1)
a_tuple[0] = 65

TypeError: 'tuple' object does not support item assignment

In [84]:
# dictionary: {}
#      Key  : Value
ages ={"John": 50,
      "Alice": 20,
      "Mike": 30}

In [85]:
ages["John"]

50

In [86]:
ages.keys()

dict_keys(['John', 'Alice', 'Mike'])

In [87]:
ages.values()

dict_values([50, 20, 30])

In [102]:
## for loop and while loop

#                st   ed   gap
#               /    /    /
for i in range(0,  10,   3):
    print(i)

0
3
6
9

In [99]:
# use container (list)

for ele in a_list:
    print(ele)

65
2
string_1
string_2
True
5.1

In [106]:
# enumerate
for idx, ele in enumerate(a_list):
    print("The "+ str(idx+1) + "th element is " + str(ele))

The 1th element is 65
The 2th element is 2
The 3th element is string_1
The 4th element is string_2
The 5th element is True
The 6th element is 5.1

In [107]:
# while 
i=0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [108]:
# if else condition
a = 1

# 
if a > 0:
    print(a)
else:
    print(-1*a)

1

In [111]:
a = -1

if a > 0:
    print("It is positive")
elif a == 0:
    print("It is zero")
else:
    print("It is negative")

It is negative

In [113]:
# print "a=2" "a=4" ,...., "a=100"
for i in range(2, 101, 2):
    print("a="+str(i))

In [121]:
# print "a=2" "a=4" ,...., "a=100" but, exclude 50

# pass, continue, break
for i in range(101):
    if i == 50:
        break
    if i%2 == 0: # i is even
        print("a="+str(i))
    else:
        pass

a=0
a=2
a=4
a=6
a=8
a=10
a=12
a=14
a=16
a=18
a=20
a=22
a=24
a=26
a=28
a=30
a=32
a=34
a=36
a=38
a=40
a=42
a=44
a=46
a=48

In [123]:
# print "a=1,b=100" "a=2,b=99" ... "a=100,b=1"
for i in range(1, 101):
    a = i
    b = 101-i
    print("a="+str(a)+" b="+str(b))

a=1 b=100
a=2 b=99
a=3 b=98
a=4 b=97
a=5 b=96
a=6 b=95
a=7 b=94
a=8 b=93
a=9 b=92
a=10 b=91
a=11 b=90
a=12 b=89
a=13 b=88
a=14 b=87
a=15 b=86
a=16 b=85
a=17 b=84
a=18 b=83
a=19 b=82
a=20 b=81
a=21 b=80
a=22 b=79
a=23 b=78
a=24 b=77
a=25 b=76
a=26 b=75
a=27 b=74
a=28 b=73
a=29 b=72
a=30 b=71
a=31 b=70
a=32 b=69
a=33 b=68
a=34 b=67
a=35 b=66
a=36 b=65
a=37 b=64
a=38 b=63
a=39 b=62
a=40 b=61
a=41 b=60
a=42 b=59
a=43 b=58
a=44 b=57
a=45 b=56
a=46 b=55
a=47 b=54
a=48 b=53
a=49 b=52
a=50 b=51
a=51 b=50
a=52 b=49
a=53 b=48
a=54 b=47
a=55 b=46
a=56 b=45
a=57 b=44
a=58 b=43
a=59 b=42
a=60 b=41
a=61 b=40
a=62 b=39
a=63 b=38
a=64 b=37
a=65 b=36
a=66 b=35
a=67 b=34
a=68 b=33
a=69 b=32
a=70 b=31
a=71 b=30
a=72 b=29
a=73 b=28
a=74 b=27
a=75 b=26
a=76 b=25
a=77 b=24
a=78 b=23
a=79 b=22
a=80 b=21
a=81 b=20
a=82 b=19
a=83 b=18
a=84 b=17
a=85 b=16
a=86 b=15
a=87 b=14
a=88 b=13
a=89 b=12
a=90 b=11
a=91 b=10
a=92 b=9
a=93 b=8
a=94 b=7
a=95 b=6
a=96 b=5
a=97 b=4
a=98 b=3
a=99 b=2
a=100 b=1

In [ ]:
# function

a = -1

# detect the sign
if a > 0:
    print("It is positive")
elif a == 0:
    print("It is zero")
else:
    print("It is negative")

In [125]:
def dtc_sign(incoming_number):
    if incoming_number > 0:
        print("It is positive")
    elif incoming_number == 0:
        print("It is zero")
    else:
        print("It is negative")

In [128]:
a = 0
dtc_sign(a)

It is zero

In [129]:
# another example

# the absolute value

a = 1

if a > 0:
    output = a
else:
    output = -1 * a

In [1]:
def abs_value(x):
    if x > 0:
        output = x
    else:
        output = -1 * x   
    return x

In [5]:
global tmp
def abs_value_2(x):
    global tmp
    tmp = x
    if x > 0:
        return x
    else:
        return -1*x

In [6]:
# how to debug the function

# define a global variable

abs_value_2(5)

5

In [7]:
# path of data
# parameter

global PATH = "desktop/xxxx"

5

In [8]:
# debug a function
# use the print function
def abs_value_2(x):
    print(x)
    tmp = x
    if x > 0:
        return x
    else:
        return -1*x

In [9]:
abs_value_2(-1)

-1

1

In [26]:
# Class: variable+function

# function: variables + rules

# task: a string version of math operation

def str_add(str_1, str_2):
    int_1 = int(str_1)
    int_2 = int(str_2)
    return str(int_1+int_2)

def str_minus(str_1, str_2):
    int_1 = int(str_1)
    int_2 = int(str_2)
    return str(int_1 - int_2)

def str_mul(str_1, str_2):
    int_1 = int(str_1)
    int_2 = int(str_2)
    return str(int_1*int_2)

def str_div(str_1, str_2):
    int_1 = int(str_1)
    int_2 = int(str_2)
    
    if int_2 != 0:
        return str( int_1 / int_2 )
    else:
        return "inf"

In [37]:
def add_fun(x,y):
    return x+y

def mul_fun(x,y):
    return x*y

In [40]:
def add_1and2_and_then_mul3(x, y, z):
    return mul_fun(add_fun(x,y), z)

In [41]:
add_1and2_and_then_mul3(1,3, 4)

16

In [46]:
def return_add_minus(x,y):
    return (10,5,6,7)

In [47]:
tuple_result = return_add_minus(10,5)

In [48]:
tuple_result

(10, 5, 6, 7)

In [49]:
a, b, c, d = tuple_result

In [50]:
a

10

In [34]:
result = str_add("8", "5")

In [33]:
result = print(str_add("8", "5"))

13

In [28]:
print(str_add("8", "5"))
print(str_minus("8", "5"))
print(str_div("8", "0"))

13
3
inf

In [ ]:
# Class: function of function
#        function + numbers

Class StrOperator